/* .brand-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  } */

* {
    text-align: center;
    background-color: #fde5e3;
}

.link-container {
    background-color: #EA4C89;
}

.brand-container {
    display: inline-flex;
    gap: 15px;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}

h1 { color: #F90B6D; font-family: 'Signika', sans-serif;; font-size: 40px; line-height: 40px; margin: 0 0 16px; }


h3 { color: #F90B6D; font-family: 'Signika', sans-serif; font-weight: 300; line-height: 32px; margin: 0 0 14px; font-weight: 500; font-size: 20px;}


p { color: #222; font-family: 'Actor', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; margin: 0 0 14px; }


a { font-family: 'Signika', sans-serif; color: #222; text-decoration: none; font-size: 25px; background-color: #EA4C89;}


a:hover { color: #eee; text-decoration: none; }

.button-1 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 47px;
    width: auto;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-1:hover,
  .button-1:focus {
    background-color: #F082AC;
  }