.comments {
    border: 1px solid white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.badges {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 80px;
    padding: 30px;
}

.form-container {
    width: 50%;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
}

input {
    width: 250px;
    margin: 10px;
}

textarea {
    width: 530px;
    margin: 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-left: 250px;
    padding: 10px;
}