body {
    background-image: url(music/dj.jpg);
    background-size: 100%;
}

.box1 {
    display: block;
    width: 150px;
    height: 150px;
    background-color: cyan;
    margin: 50px;
    border: 4px solid #333;
    box-shadow: 10px 10px 5px 0 #FF10F0;
    border-radius: 10%;
    transition: all 0.5s ease-in;
    text-align: center;
}

.box1:hover {
    width: 200px;
    height: 200px;
    transform: rotate(180deg);
    box-shadow: none;
    background-color: #FF10F0;
    border: 6px solid #333;
}

.box2 {
    width: 150px;
    height: 150px;
    background-color: palegreen;
    margin: auto;
    border: 4px solid #333;
    box-shadow: 10px 10px 5px 0 #fffb96;
    border-radius: 10%;
    transition: all 0.5s ease-in;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    text-align: center;

}

.box2:hover {
    animation-name: bounce;
    animation-timing-function: ease;
    width: 200px;
    height: 200px;
    box-shadow: none;
    background-color: #fffb96;
    border: 6px solid #333;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}

.box3 {
    width: 200px;
    height: 200px;
    margin: 50px;
    border-radius: 10%;
    background-color: red;
    text-align: center;
    position: relative;
}
.box3:hover {
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:40px; top:0px;}
    50%  {background-color:blue; left:40px; top:40px;}
    75%  {background-color:green; left:0px; top:40px;}
    100% {background-color:red; left:0px; top:0px;}
}

.box4{
    width: 150px;
    height: 150px;
    margin: 50px;
    border-radius: 10%;
    background-color: #b967ff;
    border: 4px solid #333;
    position: absolute;
    top: 80px;
    right: 0;
    text-align: center;
}
.box4:hover {
    animation-name: fading;
    animation-duration: 2s;
}
@keyframes fading {
    0%    { opacity: 0; }
    20%   { opacity: 1; }
    80%   { opacity: 0; }
    100%  { opacity: 1; }
}

.box5{
    width: 150px;
    height: 150px;
    margin: 50px;
    border-radius: 10%;
    background-color: #01cdfe;
    border: 4px solid #333;
    position: absolute;
    top: 300px;
    right: 0;
    text-align: center;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
.box5:hover {
    box-shadow: none;
    border-radius: 100%;
    background-color: #D4F0FC;
}

.box6{
    width: 150px;
    height: 150px;
    margin: 50px;
    border-radius: 10%;
    background-color: lightsalmon;
    border: 3px solid #333;
    position: absolute;
    top: 400px;
    right: 300px;
    text-align: center;
    padding: 30px;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
.box6:hover {
    width: 300px;
    height: 120px;
    padding: 50px;
    box-shadow: none;
    border-radius: 10px;
    background-color: lightseagreen;
}