@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

* { /* Resets and Default styling */
    margin: 0;
    padding: 0;
    /* display: grid; */
}

body {
    color: #325050;
    background: #fff;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 16px;
    line-height: 2.0;
}

/* div {
    white-space: pre-line; 
} */


.container {
    /* give the container display grid */
    /* with six rows, 50px high */
    /* default all cells/children on the left be 2/3 the screen width, and all on the left 1/3 */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 290px auto auto auto 280px 200px;
    background-image: url(assets/huntington.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 110% 290px;
    grid-template-areas: 
    "logo view"
    "first by"
    "second resource"
    "third empty"
    "author author"
    "link link";
}

.container > div {
    /* border: solid black 2px; */
    position: relative;
}

.subheading {
    margin: 2em 0 0 0; 
    color: #2e484c; 
    font-family: 'Julius Sans One', sans-serif; 
    font-size: 1.8em; 
    font-weight: normal; 
    text-transform: uppercase;
    height: auto;
}

.zen-garden {
    font-size: 50px;
}

.logo-container {
    /* background-image: url(assets/huntington.jpg);
    background-repeat: no-repeat;
    background-size: 200% 100%; */
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    border-top: solid 12px rgba(19, 67, 71, 0.8);
    text-align: left;
    /* height: 290px; */
    font-family: 'Julius Sans One', sans-serif; 
    grid-area: logo;

}

.beauty {
    font-size: 25px; 
    font-family: 'Libre Baskerville', sans-serif; 
    font-style: italic;
}

.view-all-designs {
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* min-height: 70px; */
    text-align: center;
    height: auto;
    border-top: solid 12px rgba(19, 67, 71, 0.8);
    grid-area: view;
    /* height: 310px; */
}

.rectangle {
    display: inline-grid;
    height: 70px;
    width: 200px;
    background: rgba(255,255,255,0.1);
    text-align: center;
    align-items: center;
    font-family: 'Julius Sans One', sans-serif; 
}

.left-of-rectangle {
    display: inline-grid;
    height: 70px;
    width: 70px;
    background: rgba(255,255,255,0.1);
    text-align: center;
    align-items: center;
}
.right-of-rectangle {
    display: inline-grid;
    height: 70px;
    width: 70px;
    background: rgba(255,255,255,0.1);
    text-align: center;
    align-items: center;
}

.by-container li:first-child {
    border-top: none;
}


.first-description {
    /* height: 290px; */
    padding-left: 120px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* font-family: 'Julius Sans One', sans-serif; */
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    grid-area: first;
}

.p {
    color: #325050;
    background: #fff;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 70%;
}

.second-description {
    padding-left: 120px;
    padding-right: 50px;
    /* padding-top: 50px; */
    padding-bottom: 50px;
    background-attachment: scroll, scroll, fixed;
    background-color: rgba(138,188,159,0.5);
    background-image: url(assets/contours-opaque.png), url(assets/gridlines-opaque.png), url(assets/bamboo.png);
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    grid-area: second;
} 

.third-container {
    height: auto;
    padding-left: 120px;
    padding-right: 50px;
    /* padding-top: 75px; */
    padding-bottom: 50px;
    grid-area: third;
} 

.by-container {
    height: auto;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: #e5ede8;
    /* margin: 0 29.4% 0 14.7%; */
    grid-area: by;
} 

.by-container ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

.by-container li {
    width: 50%;
    padding: 1.5em 10%;
    border-top: solid 1px #d9e3dc;
    color: #c0cac3;
    text-decoration: none;
}

.design-name {
    display: block;
    margin-bottom: 0.25em;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.2em;
    font-style: normal;
    text-transform: uppercase;
    color: #c0cac3;
}

.resource-container {
    height: auto;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    /* padding-right: 0;
    margin: 0 29.4% 0 14.7%; */
    overflow: hidden;
    /* background-color: rgba(138,188,159,0.5); */
    background-color: rgb(178 204 187);
    background-image: url(bamboo.png);
    grid-area: resource;
} 

.resource-container li {
    width: 50%;
    padding: 1.5em 10%;
    border-top: solid 1px #d9e3dc;
    color: #c0cac3;
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: #607476;
}
  
/* visited link */
/* a:visited {
    color: green;
} */
  
/* mouse over link */
a:hover {
    color: #0d8ba1;
}

.empty-container {
    background-color: #e5ede8;
    grid-area: empty;
}

.author-container {
    grid-column: 1 / span 2;
    background-image: url(assets/contours@2x.png), url(assets/gridlines.png), url(assets/noise.png), url(assets/koi.jpeg);
    background-size: 50% auto, auto, auto, cover;
    color: #c0cac3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: author;
    font-size: 30px;
    font-style: italic;
    padding: 150px;
}

.link-container {
    grid-column: 1 / span 2;
    clear: both;
    padding: 50px;
    color: #fff;
    background: #134347;
    text-align: center;
    display: block;
    grid-area: link;
    font-size: 65px;
}



@media (max-width: 900px){
    .by-container ul {            
        padding: 20px;
        color: #c0cac3;
        text-decoration: none;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        display: grid;
        font-size: 10px;
    }

    .resource-container ul {
        padding: 20px;
        border-top: solid 1px #d9e3dc;
        color: #c0cac3;
        text-decoration: none;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        display: grid;
        font-size: 10px;
    }

    .first-description {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-top: 50px;
    }

    .second-description {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
    }

    .third-container {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
    }

    .author-container {
        font-size: 20px;
        font-style: italic;
        padding: 50px;
    }

    /* container could use some help so that it's children are full screen width */

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        background-image: url(assets/huntington.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 110% 290px;
        grid-template-areas: 
        "logo"
        "view"
        "first"
        "second"
        "third"
        "author"
        "link"
        "resource"
        "by";
    }

    .zen-garden {
        font-size: 20px;
    }

    .beauty {
        font-size: 18px; 
        font-family: 'Libre Baskerville', sans-serif; 
        font-style: italic;
    }

    .logo-container {
        width: 100%;
        /* margin: 2px; */
    }
    .view-all-designs {
        width: 100%;
        padding: none;
        border-top: none;
        /* margin: 2px; */
    }

    .rectangle {
        display: inline-grid;
        height: 70px;
        width: 1fr;
        background: rgba(255,255,255,0.1);
        text-align: center;
        align-items: center;
    }

    .icons {
        display: flex;
        justify-content: space-around;
        width: 1fr;
        margin: 0px;
        padding: 20px;
    }

    .link-container {
        justify-content: space-evenly;
        align-items: center;
        width: 1fr;
        /* font-size: 10px; */
        margin: 0;
        font-size: 50px;
        padding: 40px;
        text-align: center;
        display: block;
    }

    li.view-css {
        border-top: none;
    }

    .resource-container ul:last-child {
        border-top: none;
    };
}

/* FLEX */
.icons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    padding: 15px;
}
