.home {
    min-height: 80vh;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background-color: #fff;
}

.home--search {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    margin: 20px 0;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    width: 300px;
    font-size: 18px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button {
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 5px;
    color: #fff;
    background: orange;
    margin-left: 10px;
    border-radius: 5px;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* .home--grid {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 50px;
    column-gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
} */

.home--grid {
display: flex;
align-items: center;
justify-content: space-evenly;
flex-direction: row;
flex-wrap: wrap;
text-align: center;
column-gap: 50px;
margin-top: 50px;
margin-bottom: 50px;
margin-left: 50px;
margin-right: 50px;
}

.home--meal {
    margin-bottom: 20px;
}

img {
    width: 250px;
    border: 1px solid #ccc;
    margin: 10px;
    transition: all 0.4s ease;
    border-radius: 5px;
}

img:hover {
    transform: scale(1.1);
}

h4 {
    align-self: center;
}

.logo {
    border: #fff 5px;
    margin-top: 60px;
}