/* .savedMeals {
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    column-gap: 50px;
    height: 80vh;
} */

.savedMeals {
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 50px;
    min-height: 65vh;
    column-gap: 50px;
}

img {
    margin-bottom: 0px;
}

.card {
    padding-bottom: 50px;
}

/* .card {
    margin-left: 10px;
} */