.recipe--container {
    /* text-align: justify; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 200px;
    margin-right: 200px;
    color: white;
}

.instructions {
    text-align: justify;
}

iframe {
    margin-bottom: 50px;
    margin-top: 50px;
}

.switchingButton {
    margin-top: 20px;
    margin-bottom: 20px;
}