.home {
    min-height: 80vh;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background-color: #fff;
}

.home--search {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    margin: 20px 0;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    width: 300px;
    font-size: 18px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button {
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 5px;
    color: #fff;
    background: orange;
    margin-left: 10px;
    border-radius: 5px;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* .home--grid {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 50px;
    column-gap: 50px;
    margin-left: 50px;
    margin-right: 50px;
} */

.home--grid {
display: flex;
align-items: center;
justify-content: space-evenly;
flex-direction: row;
flex-wrap: wrap;
text-align: center;
column-gap: 50px;
margin-top: 50px;
margin-bottom: 50px;
margin-left: 50px;
margin-right: 50px;
}

.home--meal {
    margin-bottom: 20px;
}

img {
    width: 200px;
    border: 1px solid #ccc;
    margin: 10px 10px 25px 10px;
    transition: all 0.4s ease;
    border-radius: 5px;
}

img:hover {
    transform: scale(1.1);
}

h4 {
    align-self: center;
}

.logo {
    border: #fff 5px;
    margin-top: 60px;
}

.recipe--container {
    /* text-align: justify; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    color: white;
}


.instructions {
    text-align: justify;
}

iframe {
    margin-bottom: 50px;
    margin-top: 50px;
}

.switchingButton {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar {
    width: 100%;
    height: 10vh;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 80px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
}

.navbar--header {
    margin-left: 20px;
}

.navbar--links > ul {
    display: flex;
    list-style: none;
}

.navbar--links a {
    color: yellow;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    background-color: lightslategrey;
    border-radius: 5px;
    transition: all 0.4s ease;
    font-weight: bold !important;
}

.navbar--links a:hover {
    color: orange;
    font-weight: bold !important;
}


.savedMeals {
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding: 50px;
    min-height: 65vh;
    column-gap: 50px;
}

.card {
    padding-bottom: 50px;
}

body {
    background-color: black;
}

.random {
    /* width: 100%; */
    /* height: 80vh; */
    min-height: 80vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
    text-align: center;
}

.random > img {
    width: 250px;
    border: 1px solid #ccc;
    transition: all 0.4s ease;
}

.random > img:hover {
    transform: scale(1.1);
}

.random--control > button {
    padding: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.random--control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.random--instructions {
    text-align: justify;
}

.random--instructions > p {
    padding: 20px;
}

.oneDay {
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    column-gap: 50px;
    height: 80vh;
}

.more {
    margin-top: 20px;
}

.title {
    margin-top: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: black;
    color: white;
    height: 10vh;
    border-top: 1px solid #ccc;
}

.singleCategory {
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    /* padding: 50px; */
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.categories {
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    cursor: pointer;
    padding-top: 10px;
    margin-bottom: 40px;
    /* margin-top: 10px; */
}
/* 
img {
    width: 180px;
    margin: 5px;
    transition: all 0.2s ease-in;
}

img:hover {
    transform: scale(1.1);
} */

h4 {
    align-self: center;
    margin-top: 5px;
}