.meme--toptext {
    position: absolute;
    top: 830px;
    /* padding-left: 200px; */
    margin-left: 100px;
}

.meme--bottomtext {
    position: absolute;
    top: 1150px;
    margin-left: 100px;
}

body {
    background-color: #E3EEF7;
}

.list {
    margin: 50px;
    /* background-color: #F3CCEC; */
    padding-top: 10px;
    padding-bottom: 30px;
}

h1, h2, h3, h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
}

form {
    padding: 30px;
}

ul {
    list-style-type: none;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
    padding: 0;
    display: flex;
    flex-direction: row;
    /* flex-basis: auto; */
    align-self: center;
    width: 1000px;
    /* flex-wrap: wrap; */
}

li {
    margin-right: 20px;
    margin-left: 20px;
    /* align-items: center;
    align-content: center; */
    /* overflow-y: hidden; */
}

input {
    padding: 5px;
    margin: 5px;
    border: 3px solid purple;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 5px;
    height: 30px;
    border: 3px solid green;
    border-radius: 5px;
}

.meme--top {
    position: absolute;
    top: 225px;
    /* top: 35%; */
    left: 45%;
    color: white;
    text-align: center;
}

.meme--bottom {
    position: absolute;
    top: 550px;
    /* top: 70%; */
    left: 45%;
    color: white;
    text-align: center;
}

/* .form--edit {
    position: absolute;
    top: 500px;
} */